{% extends 'base.html.twig' %}

{% block title %}Emploi index{% endblock %}

{% block body %}
    <h1>Emploi index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Adresse</th>
                <th>PublishedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for emploi in emplois %}
            <tr>
                <td>{{ emploi.id }}</td>
                <td>{{ emploi.titre }}</td>
                <td>{{ emploi.adresse }}</td>
                <td>{{ emploi.publishedAt ? emploi.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('emploi_show', {'id': emploi.id}) }}">show</a>
                    <a href="{{ path('emploi_edit', {'id': emploi.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('emploi_new') }}">Create new</a>
{% endblock %}
